.solution_header {
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  position: relative;
  z-index: 9999999999;

  h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
    padding: 0;

    @media screen and (max-width: 600px) {
      font-size: 33px;
      margin: 0 auto;
      margin-top: 30%;
      width: 90%;
    }
  }

  .h2 {
    font-size: 35px;
    margin-top: -8px;
    padding: 0;
    margin-bottom: 2rem;
    font-weight: 100;
    font-family: firma;

    @media screen and (max-width: 600px) {
      font-size: 20px;
      margin-top: 15px;
    }
  }

  .solution_text {
    width: 40%;
    margin: 0 auto;
    font-size: 15px;
    opacity: 0.8;

    @media screen and (max-width: 600px) {
      width: 70%;
      font-size: 14px;
    }
  }

  .get-started {
    margin: 2rem 0;
    @media screen and (max-width: 600px) {
      width: 70%;
      font-size: 14px;
      margin-left: auto;
      margin-right: auto;
    }
    button {
      font-weight: 600;
      font-family: firma;
      padding: 0.1rem 2rem;
      height: 50px;
      align-self: center;
      border-radius: 5px;
      background: #ff9900;
      color: #fff;
      border: none;
      width: 320px;
      //   max-width: 250px;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s;

      &:hover {
        margin-bottom: 3px;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
        max-width: unset;
      }
    }
  }
}

.header_image {
  width: 100%;
  object-fit: cover;
  z-index: -1;
  margin-top: 6rem;
}
