.header_landing {
    padding: 2% 5%;
    padding-bottom: 5%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 100vh;
    max-width: 1900px;

    .pic {
        position: absolute;
        top: -1.3rem;
        bottom: 0;
        right: 0;
        height: 110%;
        width: 40%;
        border-top-left-radius: 35% 80%;
        border-bottom-left-radius: 35% 80%;
        background-image: url('../../assets/images/mart.jpg');
        background-size: cover;
        background-position: -160px 25px;
        // animation: float_normal 15s ease-in-out reverse infinite;

        .pic_overlay {
            background-color: rgba(28, 53, 119, 0.93);
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-top-left-radius: 35% 80%;
            border-bottom-left-radius: 35% 80%;
        }
    }

    .test-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 40%;
        border-top-left-radius: 35% 80%;
        border-bottom-left-radius: 35% 80%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            // animation: float_normal 8s ease-in-out reverse infinite;

        }
    }

    .overlay {
        background-color: rgba(28, 53, 119, 0.93);
        border-top-left-radius: 35% 80%;
        border-bottom-left-radius: 35% 80%;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: hidden;
    }

    .header_content {
        padding: 15% 0;
        padding-left: 0;
        width: 53%;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 14px;
            width: 80%;
            margin-bottom: 3rem;
        }

        form {
            display: flex;
            width: 80%;
            max-width: 700px;
            justify-content: space-between;
            background: #fff;
            padding: .1rem;
            box-shadow: 0 12px 50px 0 rgba(0, 0, 0, .25);
            border-radius: 5px;

            @media screen and (max-width:600px) {
                flex-direction: column;
                width: 100%;
                margin: 0 auto;
            }

            .form-group {
                margin-bottom: 0;
                width: 80%;
            }

            input {
                padding: 4px .75rem;
                width: 100%;
                border: none;
                line-height: 3;
                font-size: 16px;

                @media screen and (max-width:600px) {
                    width: 100%;
                }

                &:focus {
                    outline: none;
                }
            }

            button {
                font-weight: 400;
                padding: .1rem 2rem;
                height: 50px;
                align-self: center;
                margin-right: 5px;
                border-radius: 5px;
                background: rgba(28, 53, 119, 0.93);
                color: #fff;
                border: none;
                width: 180px;
                max-width: 250px;
                cursor: pointer;
                font-size: 16px;
                transition: all 0.3s;

                &:hover {
                    background-color: rgba(10, 22, 54, 0.93);
                }

                @media screen and (max-width:600px) {
                    width: 100%;
                    max-width: unset;
                }
            }
        }
    }

}



.info {
    background: #eaf4ff;
    padding-top: 3%;

    .slider {
        font-size: 1.3rem;
        height: 4.5rem;
        overflow: hidden;
        position: relative;
        margin: 0 5%;
    }

    .slider::before {
        left: 0;
        top: 0;
        box-sizing: border-box;
    }

    .slider::after {
        content: "";
        height: 4.5rem;
        position: absolute;
        width: 6rem;
        z-index: 2;
        box-sizing: border-box;
    }

    .slide-track {
        animation: scroll 30s linear infinite;
        display: flex;
        width: calc(200px * 5);
    }

    .slide {
        height: 1rem;
        width: 200px;

        p {
            width: 200px;
            font-size: 14px;
            height: 1rem;
            text-align: center;
            border-style: none;
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 7));
        }
    }

    .container {
        margin: 0 auto;
        padding: 92px 15px;
        width: 100%;
    }

    h3 {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1rem;
        max-width: 650px;
    }

    .caption {
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        max-width: 466px;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .list {
        display: flex;
        justify-content: space-around;
        margin: 2rem auto 0;
        width: 100%;
        padding: 1rem 5rem;
    }

    .list-item {
        display: flex;
        flex-direction: column;
        width: 23%;
        text-align: left;
        margin: 1.25rem 0;
        margin-bottom: 7rem;
    }

    .list-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    img {
        width: 20%;
        vertical-align: middle;
    }

    .list-content-title {
        font-size: 1.3rem;
        margin: 1.25rem 0;
        font-weight: 600;
    }

    .list-content-caption {
        font-size: 12px;
        line-height: 1.5;
        margin: 0;
        opacity: 0.7;
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {
        margin: 0 8px;
    }

    .button {
        align-self: flex-start;
        line-height: 48px;
        padding-left: 2.2em;
        padding-right: 2.2em;
        font-size: 13px;
        text-transform: uppercase;
        font-family: "CW BR Firma", sans-serif;
        font-weight: bold;
        box-shadow: 0 2px 4px 0 rgba(2, 43, 105, 0.08);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
    }

    a {
        line-height: unset;
        text-align: center;
        width: 12rem;
        font-size: 10px;

    }

    .q {
        background: #fff;
    }

    .w {
        background: #102649;
        color: #fff;
    }

    @media screen and (max-width:600px) {
        .list {
            flex-direction: column;
        }

        .list-item {
            width: 100%;
        }

        img {
            width: 20%;
        }

        .button {
            width: 100%;
            font-size: 11px;
        }
    }

    section {
        width: 80%;
        margin: 0 auto;
        padding: 3rem 0;
    }

    .team_card_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;

        .team_card {
            width: 23%;
            text-align: center;
            box-shadow: 0 12px 50px 0 rgba(0, 0, 0, .25);
            background: white;
            margin-bottom: 2rem;
            border-radius: 10px;
            padding-bottom: 2rem;
            box-sizing: border-box;
            overflow: hidden;

            img {
                width: 100%;
                height: 250px;
                margin-bottom: 2rem;
                object-fit: cover;
            }

            p {
                font-size: 13px;
                margin: 0;
            }

            .lecturer_name {
                font-weight: bold;
                font-style: italic;
            }
        }
    }

    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        a {
            color: black;
            padding: 8px 16px;
            text-decoration: none;
            font-size: unset;
        }
    }
}