.nav {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 85%;
  margin: 30px auto;
  z-index: 999999999999999999;

  .logo {
    cursor: pointer;
  }

  .nav_items {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    align-items: center;
  }

  .nav_item {
    a {
      color: black;
      position: relative;
      font-weight: bolder;
      font-size: 14px;

      .circle {
        display: none;
      }

      &.active,
      &:hover {
        .circle {
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #ff9900;
          position: absolute;
          bottom: -12px;
          right: 40%;
        }
      }
    }
  }

  .auth {
    cursor: pointer;
    width: 50%;
    button {
      cursor: pointer;
    }
    a {
      color: white;
    }
  }
}
