.first_process {
  display: flex;
  margin: 10% auto;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div {
    width: 40%;
    h1 {
      font-size: 36px;
      font-weight: 700;
    }
    h2 {
      font-weight: 600;
    }
    p {
      font-size: 13px;
      opacity: 0.8;
    }
  }
}

.second_process {
  display: flex;
  margin: 10% auto;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .first_item,
  .second_item {
    width: 40%;
    h1 {
      font-size: 36px;
      font-weight: 700;
    }
    h2 {
      font-weight: 600;
    }
    p {
      font-size: 13px;
      opacity: 0.8;
    }

    .checks {
      div {
        display: flex;
        align-items: center;

        p {
          margin-left: 2rem;
          width: 70%;
        }
      }
    }
  }
}
